#header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
body {
    background-image: url("https://imageio.forbes.com/specials-images/imageserve/6185366bb3bf9a4e6be0e269/Earbuds-with-notebook-and-coffee-near-laptop/960x0.jpg?format=jpg&width=1440");
    background-size: cover;
}
#header-img {
    max-width: 50px;
    height: auto
}
p {
    font-size: 20px;
    font-family: 'Times New Romans';
    font-style: italic;
}
#nav-bar {
    display: flex;
}

.nav-link {
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px;
}

#video {
    display: block;
    margin: 0 auto;
}

#form {
    text-align: center;
    margin-top: 50px;
}

#email {
    padding: 10px;
    width: 250px;
    margin-bottom: 20px;
}

#submit {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
